# Gradle output and cache
/.gradle/
/build/

# Generic output
/bin/
/out/

# VS Code specific
/.vscode/

# Compiled class files
*.class

# Generated log files and models
/user_data/

# Keep info.txt files
!**/info.txt

# Use this directory for local testing and temporary files
/local/