# Gradle output and cache
/.gradle/
/bin/
/build/

# Generic output
/out/

# VS Code specific
/.vscode/

# Generated models and log files
/user_data/checkpoints/*
/user_data/logs/*

# Keep info.txt files
!**/info.txt

# Use this directory for local testing and temporary files
/local/